.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  display: flex;
  flex-flow: row nowrap;
}
.react {
  width: 50%;
  background: rgb(40, 44, 51);
}
.vue {
  width: 50%;
  background: rgb(53, 73, 93);
}

@media screen and (max-width: 800px) {
  .App {
    flex-direction: column;
  }
  .react {
    width: 100%;
  }
  .vue {
    width: 100%;
  }
}
